# API Keys (điền giá trị giả)
NUMVERIFY_API_KEY=your_numverify_key
GEMINI_API_KEY=your_gemini_key
DATA_ENCRYPTION_KEY=your_data_encryption_key
VIRUSTOTAL_API_KEY=your_key_here
GOOGLE_SAFE_BROWSING_API_KEY=your_key_here

CAPTCHA_SITE_KEY=your_site_key
CAPTCHA_SECRET_KEY=your_secret_key

# Database config
DB_HOST=localhost
DB_NAME=your_database_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# App settings
APP_ENV=production
APP_DEBUG=false

MAIL_HOST=your.gmail.com
MAIL_PORT=your_port
MAIL_ENCRYPTION=your_encryption
MAIL_FROM_NAME=your_from_name
MAIL_FROM_EMAIL=yourgmail@gmail.com
MAIL_USERNAME=yourgmail@gmail.com
MAIL_PASSWORD=your_app_password

SMTP_HOST=your.gmail.com
SMTP_PORT=your_port
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=your_app_password
SMTP_SECURE=your_encryption

OTP_EXPIRY=your_second